<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EMSE 2020 - Developer's Assumptions to Identifying Bug-introducing Changes</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav style="flex-direction: column;" class="navbar navbar-light bg-light static-top">
    <div class="container" style="padding-bottom: 15px">
      <a class="navbar-brand" href="#">EMSE 2020 - Developer's Assumptions to Identifying Bug-introducing Changes</a>
    </div>
    <div class="container">
        <a href="index.html">Assumptions</a>
        <a href="data_matrix.html">Data Matrix (Q-Sorts)</a>
        <a href="correlations.html">Correlations between Q-Sorts</a>
        <a href="entire_analysis.html">Entire Viewpoints Analysis</a>
        <a href="comments.html">Participant's Comments</a>
        <a href="responses.html">Participant's responses</a>
    </div>
    <div class="container">
        <a href="systems.html">Systems</a>
        <a href="invitation_letter.html">Invitation Letter</a>
        <a href="questionnarie.html">Questionnarie</a>
    </div>
  </nav>
  <div class="container">
    <br/>
    <div class="col-md-6"> 
        <legend >Characterization Questionnaire</legend>
      </div>
      <br/>
  
      <!-- Question-->
      <div class="row">
          <label class="col-md-12">During a software development did you notice any changes that introduced bugs? If yes, how did you perceive the buggy code?</label>
      </div>
      <div class="form-group">
        <div class="col-md-6">                  
          <textarea id="text_buggy" name="text_buggy" class="form-control" ng-model="user.text_buggy" onchange="javascript:inputCheck();"></textarea>
        </div>
      </div>
  
      <!-- Text input-->
      <div class="form-group" style="display:none" name ="input_buggy" id="input_buggy">
        <div class="col-md-6">
          <input ng-model="user.input_buggy" type="text" class="form-control input-md" id="input_buggy_2">
          <span class="help-block">Could you provide the links of commits, issues or pull requests of this buggy code?</span>  
        </div>
      </div>
            
      <div class="row" style="display: none" id="label_buggy">
          <label class="col-md-12">Which affirmations are related to the reported bugs?</label>
      </div>
      <div class="step3lists" style="display:none; margin:20px" id="list_buggy" >
          <div class="simpleDemo row" style="margin:20px ">
            <div class="simpleDemo row step2lists">
                <table >
                  <tr>
                  <td style="vertical-align:top">
                  <div style="width:320px;padding-right:10px;">
                    <div class="panel panel-info" id="buggy">
                      <div class="panel-heading buggy_panel_heading">
                        <h3 class="panel-title" align="center">All statements</h3>
                      </div>
                      <ul dnd-list="cards.statements">
                        <li ng-repeat="statement in cards.statements"
                            dnd-draggable="statement" dnd-moved="cards.statements.splice($index, 1)"
                            dnd-effect-allowed="move">
                            {{ statement.statement }}
                        </li>
                      </ul>
                      </div>
                    </div>
                    </td>
                    <td style="vertical-align:top">
                        <div style="width:320px;padding-right:10px;">
                          <div class="panel panel-info" id="buggy">
                            <div class="panel-heading buggy_panel_heading">
                              <h3 class="panel-title" align="center">Statements related to the example</h3>
                            </div>
                            <ul dnd-list="classifications.FINAL" dnd-drop="dropFinalCallback(index, item, external, type)">
                              <li ng-repeat="statement in classifications.FINAL" dnd-draggable="statement" dnd-moved="classifications.FINAL.splice($index, 1)"
                                  dnd-effect-allowed="move">
                                  {{ statement.statement }}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                </table>
              </div>
            </div>
      </div>
     
      <!-- Text input-->
      <div class="row">
        <label class="col-md-12">Please enter the country you currently work on.*</label>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <input id="country" ng-model="user.country" type="text" class="form-control input-md" required>
        </div>
      </div>
              
      <!-- Multiple Radios (inline) -->
      
      <div class="row">
          <label class="col-md-12" >Please select your educational level.*</label>
      </div>
      <div class="form-group">
        <div class="col-md-4"> 
        <label class="radio">
          <input type="radio" id= "radio1" ng-model="user.edu" value="phd" onclick="javascript:otherCheck();" required  >
          <label>PhD</label>
        </label> 
        </br>
        <label class="radio">
          <input type="radio" id= "radio2" ng-model="user.edu" value="phdstu" onclick="javascript:otherCheck();" >
          <label>PhD Student</label>
        </label> 
        </br>
        <label class="radio">
          <input type="radio" id= "radio3" ng-model="user.edu" value="msc" onclick="javascript:otherCheck();" >
          <label>Master</label> 
        </label> 
        </br>
        <label class="radio">
          <input type="radio" id= "radio4" ng-model="user.edu" value="mscstu" onclick="javascript:otherCheck();" >
          <label>Master Student</label>
        </label>
        </br>
        <label class="radio">
            <input type="radio" id= "radio5" ng-model="user.edu" value="under" onclick="javascript:otherCheck();" >
          <label>Undergraduate</label>
        </label>
        </br>
        <label class="radio">
            <input type="radio" id= "radio6" ng-model="user.edu" value="understu" onclick="javascript:otherCheck();" >
            <label>Undergraduate Student</label>
        </label>
         </br>
        <label class="radio">
          <input type="radio" id= "radio7" ng-model="user.edu" value="other" onclick="javascript:otherCheck();" >
          <label>Other</label>
          </label>
        </div>
      </div>
  
      <div class="form-group" id="ifOther" style="display:none">
        <div class="col-md-4">
          <input id="edu" ng-model="user.edu_other_spec" type="text" class="form-control input-md">
          <span class="help-block">Please, specify here.*</span>  
        </div>
      </div>
            
  
      <div class="row">
          <label class="col-md-12">What is your current job? (You can select multiple options)?*</label>
      </div>
      <div class="form-group options">
          <div class="col-md-4 checkboxes">
            <input type="checkbox" ng-model="user.selectedJobs[val.name]" ng-required="!someSelected(user.selectedJobs)" > Open Source Developer 
            </br> 
            <input type="checkbox" ng-model="user.selectedJobs[val.name]" ng-required="!someSelected(user.selectedJobs)" > Academic Researcher 
            </br> 
            <input type="checkbox" ng-model="user.selectedJobs[val.name]" ng-required="!someSelected(user.selectedJobs)" > Industrial Developer 
            </br> 
            <input type="checkbox" ng-model="user.selectedJobs[val.name]" ng-required="!someSelected(user.selectedJobs)" > Industrial Researcher 
            </br> 
            <input type="checkbox" ng-model="user.selectedJobs[val.name]" ng-required="!someSelected(user.selectedJobs)" > Other 
            </br> 
        </div>
      </div>       
  
      <!-- Text input-->
      <div class="form-group" id="ifOther2" style="display:none">
          <div class="col-md-4">
          <input id="edu" ng-model="user.ocu_other_spec" type="text" class="form-control input-md">
          <span class="help-block">Please, specify here*</span>  
          </div>
      </div>
  
            
      <div class="row">
        <label class="col-md-12">Please rate your expertise with*</label>
      </div>
        
      <div  class='form-group'>
        <div class="col-md-6">
          <table class="table table-striped">
              <tr>
                <th></th>
                <th>Very poor</th> 
                <th>Poor</th>
                <th>Fair</th>
                <th>High</th>
                <th>Very High</th>
              </tr>
              <tr>
                <td >Software Development</td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.software_exp" value="verypoor" required /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.software_exp" value="poor" /> </td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.software_exp" value="fair"  /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.software_exp" value="high" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.software_exp" value="veryhigh" /> </td> 
              </tr>
              <tr>
                <td>Code Review</td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.cod_review" value="verypoor" required /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.cod_review" value="poor" /> </td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.cod_review" value="fair" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.cod_review" value="high" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.cod_review" value="veryhigh" /> </td> 
              </tr>
              <tr>
                <td>Bug Reporting</td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_rep" value="verypoor" required /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_rep" value="poor" /> </td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_rep" value="fair" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_rep" value="high" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_rep" value="veryhigh" /> </td> 
              </tr>
              <tr>
                <td>Bug Fixing</td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_fix" value="verypoor" required/> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_fix" value="poor" /> </td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_fix" value="fair" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_fix" value="high" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.bug_fix" value="veryhigh" /> </td> 
              </tr>
              <tr>
                <td>Tests</td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.tests" value="verypoor" required /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.tests" value="poor" /> </td>
                <td style="text-align:center;"> <input type="radio" ng-model="user.tests" value="fair" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.tests" value="high" /> </td> 
                <td style="text-align:center;"> <input type="radio" ng-model="user.tests" value="veryhigh" /> </td> 
                </tr>
          </table>
        </div>
      </div>
  
      <div class="row">
          <label class="col-md-12">Have you ever contributed for open source projects? If yes, could you provide the links of these projects?</label>
      </div>
      <div class="form-group">
        <div class="col-md-6">                  
          <textarea class="form-control" ng-model="user.input_open"></textarea>
        </div>
      </div>
  
      <div class="row">
        <label class="col-md-12">Please enter your e-mail (it will not be disclosed), if you want to participate on the raffle of US$ 100 voucher at Amazon.com or
            want be contacted in future researches.</label>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <input ng-model="user.email" type="text" class="form-control input-md">
        </div>
      </div>
  
      <div class="row">
        <label class="col-md-12">Do you have any comments regarding this research?</label>
      </div>
        <div class="form-group">
            <div class="col-md-6">                  
          <textarea class="form-control" ng-model="user.comments"></textarea>
        </div>
      </div>
  </div>
  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy;Jairo Souza et al 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
